# PyCharm internal settings
.idea/

# Python virtual environments
.venv/
venv/
ENV/

# Local data files (Prevents uploading heavy datasets)
*.csv
*.xlsx
*.json
*.sql

# Python cache files
_pycache_/
*.py[cod]

# Ignore these folders (These are for my own reference)
Numpy/
Pandas/
main.py
Libraries.md
Python_Notes/
DSA_Python/
Projects/