# PyCharm internal settings
.idea/

# Python virtual environments
.venv/
venv/
ENV/

# Local data files (Prevents uploading heavy datasets)
*.csv
*.xlsx
*.json
*.sql

# Python cache files
_pycache_/
*.py[cod]